<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- MySQL database -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- show SQL in console -->
		<property name="hibernate.show_sql">true</property>
		<!-- readable format for SQL output in the console -->
        <property name="format_sql">true</property>
		<mapping resource="com/ecommerce/model/hbm/Store.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/User.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/Favorite.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/Review.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/Product.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/Salehistory.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/Category.hbm.xml"/>
		<mapping resource="com/ecommerce/model/hbm/Image.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
