<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- ================== CATEGORY MODULE ================== -->
	<bean id="categoryDAO" class="com.ecommerce.dao.impl.CategoryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- ================== USER MODULE ================== -->
	<bean id="userDAO" class="com.ecommerce.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- ================== PRODUCT MODULE ================== -->
	<bean id="productDAO" class="com.ecommerce.dao.impl.ProductDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- ================== STORE MODULE ================== -->
	<bean id="storeDAO" class="com.ecommerce.dao.impl.StoreDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans>
