<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- ================== CATEGORY MODULE ================== -->
	<bean id="categoryService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.ecommerce.service.impl.CategoryServiceImpl">
				<property name="categoryDAO" ref="categoryDAO" />
			</bean>
		</property>
	</bean>

	<!-- ================== USER MODULE ================== -->
	<bean id="userService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.ecommerce.service.impl.UserServiceImpl">
				<property name="userDAO" ref="userDAO" />
			</bean>
		</property>
	</bean>
	
	<!-- ================== PRODUCT MODULE ================== -->
	<bean id="productService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.ecommerce.service.impl.ProductServiceImpl">
				<property name="productDAO" ref="productDAO" />
			</bean>
		</property>
	</bean>
	
	<!-- ================== STORE MODULE ================== -->
	<bean id="storeService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.ecommerce.service.impl.StoreServiceImpl">
				<property name="storeDAO" ref="storeDAO" />
			</bean>
		</property>
	</bean>

</beans>
